@media (max-width: 8000px) {
  .header-color {
    margin-bottom: 30px;
    background-color: #0abab5;
  }

  img[data-logo="mobile"] {
    display: none;
  }

  .header-burger {
    display: none;

    &.active {
      display: none;
    }
  }
}

@media (max-width: 1023px) {
  .header-color {
    margin-bottom: 0;
    background-color: white;
  }

  img[data-logo="desktop"] {
    display: none;
  }

  img[data-logo="mobile"] {
    display: block;
  }

  .header-burger {
    opacity: 0;
    max-height: 0px;
    display: grid;
    visibility: hidden;
    transition: 0.5s all ease-in-out;

    &.active {
      opacity: 1;
      display: grid;
      max-height: 614px;
      visibility: visible;
      padding-bottom: 40px;
    }
  }

  .header-block {
    display: none !important;
  }
}

@media (max-width: 640px) {
  .header-burger {
    grid-template-columns: repeat(1, minmax(0fr));
  }
}

@media (max-width: 639px) {
  .header-burger {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.family-bold {
  font-family: geometria-bold;
}
.family-medium {
  font-family: Geometria-Medium;
}
