@media (max-width: 8000px) {
  .product_card {
    box-sizing: border-box;
    width: 494px;
  }

  .product_image {
    width: 442px;
    height: 442px;
  }

  .product_card_link {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}
@media (max-width: 1535px) {
  .product_card {
    width: 406px;
  }

  .product_image {
    width: 357px;
    height: 357px;
  }

  .product_card_link {
    font-size: 1.5rem;
  }
}
@media (max-width: 1280px) {
  .product_card {
    width: 323px;
  }

  .product_image {
    width: 271px;
    height: 271px;
  }

  .product_card_link {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .product_card {
    width: 370px;
  }

  .product_card_link {
    font-size: 1.5rem;
  }
}

@media (max-width: 1023px) {
  .product_image {
    width: 100%;
    height: 100%;
  }

  .product_card_link {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .product_card {
    width: 100%;
  }

  .product_image {
    width: 100%;
    height: 100%;
  }
}

.product_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  border: 1px solid #dedede;
  padding: 25px;
  box-shadow: 0px 13px 19px 0px #00000012;
}
