@font-face {
  font-family: "Geometria-Bold";
  src: local("Geometria-Bold"),
    url("../../fonts/Geometria-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria-Light";
  src: local("Geometria-Light"),
    url("../../fonts/Geometria-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria-Medium";
  src: local("Geometria-Medium"),
    url("../../fonts/Geometria-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria-Thin";
  src: local("Geometria-Thin"),
    url("../../fonts/Geometria-Thin.ttf") format("truetype");
}

@mixin profile-text($family, $size, $height, $weight) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.admin-wrapper {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.admin-content {
  width: 1536px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.admin-content_navigation {
  display: flex;
  gap: 50px;
  align-items: center;
}

.admin-content_navigation-link {
  @include profile-text("Geometria-Bold", 16px, 20px, 700);
}

.active {
  color: #0abab5;
}

.admin-content_filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.admin-content_filters-action {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-content_filters-action-description {
  display: flex;
  gap: 30px;
}

.admin-content_filters-action-description-text {
  @include profile-text("Geometria-Bold", 12px, 15px, 700);
}

.admin-content_filters-buttons {
  display: flex;
  gap: 30px;
}

.button-action {
  background: #0abab5;
  color: white;
  gap: 15px;
}

.button-action > svg {
  color: white;
}

.admin-content_filter,
.admin-content_filters-button {
  @include profile-text("Geometria-Bold", 14px, 24px, 700);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  border: 1px solid #0abab5;
  border-radius: 5px;
}

.admin-content_cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.admin-checkbox {
  padding: 0;
  margin: 0;
}

.admin-checkbox > span {
  margin: 0;
}

.admin-content_cards-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.admin-content_cards-header-button {
  display: flex;
  gap: 15px;
  align-items: center;
  @include profile-text("Geometria-Bold", 12px, 15px, 700);
}

.admin-content_cards-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.admin-content_cards-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.admin-content_cards-item-block {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-content_cards-item-block-text {
  display: flex;
  justify-content: space-between;
}

.admin-content_cards-item-block-title {
  @include profile-text("Geometria-Bold", 16px, 20px, 500);
}

.admin-content_cards-item-block-article {
  @include profile-text("Geometria-Light", 16px, 20px, 300);
}

.admin-content_cards-item-block-buttons {
  display: flex;
  justify-content: space-between;
}

.admin-content_cards-item-block-button {
  @include profile-text("Geometria-Bold", 12px, 15px, 400);
}

.admin-content_cards-item-span {
  @include profile-text("Geometria-Bold", 16px, 20px, 500);
  color: #0abab5;
}

.admin-content_cards-item-date,
.admin-content_cards-item-price {
  @include profile-text("Geometria-Light", 16px, 20px, 300);
}

.admin-content_cards-item-left {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
