@mixin profile-text($family, $size, $height) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
}

.provider-card {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
  padding: 10px 5px;
  cursor: pointer;
  img{
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
  }
  @media (hover: hover) {
    &:hover {
      background-color: rgb(235, 235, 235);
    }
  }
}

.provider-card_title {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 350px;

  @media (max-width: 767px) {
    gap: 15px;
  }

  &-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.provider-card_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  // max-width: 450px;

  span{
    width: 150px;
  }

}

.products-content_cards-item {
  width: 350px;
  display: flex;
  flex-direction: column;
  // gap: 15px;
}

.products-content_cards-item-block {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.products-content_cards-item-block-text {
  display: flex;
  justify-content: space-between;
}

.product-title {
  @include profile-text("Geometria-Bold", 16px, 20px);
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.products-content_cards-item-block-article {
  @include profile-text("Geometria-Light", 16px, 20px);
}

.provider-card_title-block_buttons {
  display: flex;
  gap: 15px;
  row-gap: 5px;
  flex-wrap: wrap
}

.provider-card_title-block_buttons > button,
.provider-card_title-block_buttons > a {
  @include profile-text("Geometria-Bold", 12px, 15px);
}

.products-content_cards-item-span {
  @include profile-text("Geometria-Bold", 16px, 20px);
  color: #0abab5;
  width: 120px;
  text-align: center;
  @media (max-width: 767px) {
    font-size: 14px;
    width: 120px !important;
  }
}

.products-content_cards-item-date{
  width: 345px;
  display: flex;
  justify-content: flex-end;
}

.products-content_cards-item-date,
.products-content_cards-item-price,
.products-content_cards-item-article {
  text-align: center;
  @include profile-text("Geometria-Light", 16px, 20px);
}

.products-content_cards-item-price {
  width: 75px;
}

.products-content_cards-item-article {
  width: 75px;
}

@media (max-width: 1023px) {
  .products-content_card-item--off {
    display: none;
  }
}
