@media (max-width: 8000px) {
  .provider-page_wrapper {
    padding: 80px 0;
  }

  .provider-page_content {
    max-width: 1536px;
  }

  .provider-page_blocks {
    padding: 50px 0;
  }
}

@media (max-width: 1536px) {
  .provider-page_content {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .provider-page_content {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .provider-page_wrapper {
    padding: 30px;
  }

  .provider-page_content {
    max-width: 768px;
  }

  .provider-header {
    flex-direction: column-reverse;
  }

  .provider-page_blocks {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .provider-page_content {
    max-width: 640px;
  }

  .provider-header {
    flex-direction: column-reverse;
  }
}

@mixin providerPageBlock() {
  display: flex;
  border-radius: 5px;
  gap: 20px;
  border: 1px solid black;
}

.provider-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.provider-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.provider-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.provider-title {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  font-family: geometria-medium;
}

.provider-stages {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 13px;
}

.provider-stages-text {
  font-family: geometria-medium;
  font-size: 10px;
  font-weight: 700;
}

.provider-stages-block {
  display: flex;
  align-items: center;
  gap: 13px;
}

.stage-link {
  display: block;
  width: 26px;
  height: 26px;
  background: #d9d9d9;
  border-radius: 50%;

  &.active {
    border: 2px solid #0abab5;
  }
}

.provider-page_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.provider-page_content {
  width: 1536px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.provider-page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-links {
    display: flex;
    gap: 35px;
  }
}

.provider-page_blocks {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  &-notifications,
  &-news,
  &-reviews {
    @include providerPageBlock();
    padding: 30px 15px;
    flex: 1 1 470px;
    gap: 15px;
    flex-direction: column;

    & > h3 {
      font-family: geometria-medium;
      font-size: 26px;
      font-weight: 700;
    }

    &_item {
      display: flex;
      flex-direction: column;
      gap: 5px;

      &-products {
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > span,
        & > a {
          font-size: 10px;
          font-family: geometria-medium;
        }

        & > a {
          color: #0abab5;
        }
      }

      & > h5 {
        color: #0abab5;
        font-size: 16px;
        font-family: geometria-medium;
        font-weight: 700;
      }

      &-block {
        display: flex;
        gap: 10px;
        align-items: center;

        & > span {
          color: #929292;
          font-size: 10px;
        }
      }

      & > p {
        font-size: 12px;
        font-family: geometria-medium;
      }
    }
  }

  &-chart {
    @include providerPageBlock();
    align-items: flex-start;
    padding: 30px;
    flex: 1 1 1100px;
    flex-wrap: wrap;

    & > button:first-of-type {
      background-color: #0abab5;
      color: white;
    }

    & > button {
      width: 114px;
      border-radius: 5px;
      background-color: white;
      color: black;
      border: 1px solid #0abab5;
      font-family: geometria-medium;
    }
  }

  &-total {
    @include providerPageBlock();
    flex-direction: column;
    padding: 30px 15px;
    flex: 1 1 auto;

    &_block:first-of-type {
      justify-content: flex-start;
      gap: 10px;
    }

    &_block {
      display: flex;
      gap: 30px;
      align-items: flex-start;
      justify-content: space-between;

      &-text {
        color: #929292;
        font-size: 10px;
        line-height: 12px;
        width: 100%;
        max-width: 133px;
      }

      &-account,
      &-button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      &-button {
        gap: 5px;
        font-family: geometria-medium;
      }
    }
  }
}

.account {
  font-size: 26px;
  font-weight: 700;
  font-family: geometria-medium;
  line-height: 24px;
}

.account-text {
  font-family: geometria-medium;
  font-size: 10px;
  font-weight: 400;
}
