@mixin profile-text($family, $size, $height, $weight) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.products-wrapper {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.products-content {
  width: 1536px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.products-content_navigation {
  display: flex;
  gap: 50px;
  align-items: center;
}

.products-content_navigation-link {
  @include profile-text("Geometria-Bold", 16px, 20px, 700);
}

.active {
  color: #0abab5;
}

.products-content_filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.products-content_filters-action {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products-content_filters-action-description {
  display: flex;
  gap: 30px;
}

.products-content_filters-action-description-text {
  @include profile-text("Geometria-Bold", 12px, 15px, 700);
}

.products-content_filters-action-description-text:last-of-type {
  color: #e30387;
}

.products-content_filters-buttons {
  display: flex;
  gap: 30px;
}

.button-action > svg {
  color: white;
}

.products-content_filters-button {
  @include profile-text("Geometria-Bold", 14px, 24px, 700);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  border: 1px solid #0abab5;
  border-radius: 5px;
}

.products-content_filters-button:first-of-type {
  background: #0abab5;
  color: white;
}

.products-content_filters-button:last-of-type {
  background: transparent;
  color: black;
}

.products-content_cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.products-checkbox {
  padding: 0;
  margin: 0;
}

.products-checkbox > span {
  margin: 0;
}

.products-content_cards-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.products-content_cards-header-button {
  background: transparent;
  display: flex;
  gap: 15px;
  align-items: center;
  @include profile-text("Geometria-Bold", 12px, 15px, 700);
}

.products-content_cards-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.products-content_cards-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.products-content_cards-item-block {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.products-content_cards-item-block-text {
  display: flex;
  justify-content: space-between;
}

.products-content_cards-item-block-title {
  @include profile-text("Geometria-Bold", 16px, 20px, 500);
}

.products-content_cards-item-block-article {
  @include profile-text("Geometria-Light", 16px, 20px, 300);
}

.products-content_cards-item-block-buttons {
  display: flex;
  justify-content: space-between;
}

.products-content_cards-item-block-button {
  @include profile-text("Geometria-Bold", 12px, 15px, 400);
}

.products-content_cards-item-span {
  @include profile-text("Geometria-Bold", 16px, 20px, 500);
  color: #0abab5;
}

.products-content_cards-item-date,
.products-content_cards-item-price {
  @include profile-text("Geometria-Light", 16px, 20px, 300);
}

.products-content_cards-item-left {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
