@mixin provider-text($family, $size, $height) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .provider-content_review-header {
    flex-direction: column;
    gap: 15px;
  }
}

.provider-content_reviews-title {
  @include provider-text(geometria-medium, 26px, 24px);
}

.provider-content_review-header {
  display: flex;
  justify-content: space-between;
}

.provider-content_review-header-title {
  @include provider-text("Geometria-Light", 26px, 32px);
  color: #252b42;
}

.provider-content_review-header-status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  @include provider-text("Geometria-Light", 16px, 20px);
}

.provider-content_review-text {
  @include provider-text("Geometria-Light", 16px, 26px);
  color: #252b42;
}

.provider-content_reviews {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.provider-content_reviews-list {
  display: flex;
  flex-direction: column;
}

.provider-content_review {
  padding: 30px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  border: 1px solid #ebebeb;
  border-left: 3px solid #e30387;
}

.review-button {
  padding: 5px 10px;
  height: 30px;
  border-radius: 5px;
  background: transparent;
}

.review-button:first-of-type {
  border: 1px solid #e30387;
}

.review-button:last-of-type {
  border: 1px solid #0abab5;
}
