.title {
  color: #677179;
  text-align: center;
  font-size: 30px;
  font-family: "Roboto-Bold";
  font-weight: 700;
  margin: 0;
  padding-top: 94px;
  margin-bottom: 25px;

  @media screen and (max-width: 480px) {
    width: 253px;
    margin: 0 auto;
  }
}

.section {
  padding-inline: 15px;
  margin: 0 auto;
  height: 100%;
  margin: auto;
  text-align: left;
  max-width: 1140px;
  width: 100%;

  @media screen and (max-width: 480px) {
    max-width: 100%;
    padding-inline: 12px;
    margin: 0;
  }

  .subtitle {
    color: #677179;
    font-size: 20px;
    font-family: "Roboto-Bold";
    font-weight: 700;
    margin: 0;
    margin-bottom: 12px;

    @media screen and (max-width: 480px) {
      margin-top: 25px;
    }
  }
}

.section_rec {
  width: 1140px;
  margin: auto;
  padding: 0 15px;

  @media screen and (max-width: 480px) {
    width: 366px;
  }
}