body:has(.provider-page_header-mobile-wrapper--open) {
  overflow: hidden;
}


.provider-page_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;



  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.container{
      @media (max-width: 640px) {
        max-width: 400px;
      }
      @media (max-width: 400px) {
        max-width: 350px;
      }
    }
  }

  &-links {
    display: flex;
    gap: 35px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &-mobile {
    @media (max-width: 767px) {
      position: absolute;
      right: -280px;
      top: 0;
      bottom: 0;
      background-color: white;
      width: 280px;
      padding: 70px 20px 20px;
      display: flex;
      flex-direction: column;
      transition: all 0.2s ease-in-out;
    }
  }
  &-mobile-language{
    display: none;
    @media (max-width: 767px) { 
      display: block;
    }
  }
  &-mobile-wrapper {
    @media (max-width: 767px) { 
      position: fixed;
      z-index: 999;
      top: 0;
      bottom: 0;
      right: 0;
      transition: all .2s ease-in-out;
    }
  }
  &-mobile-wrapper--open {
    @media (max-width: 767px) {
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.106);
    }
    .provider-page_header-mobile {
      right: 0;
    }
  }

  &-mobile-links {
    display: none;
    margin-top: 10px;
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }
  &-close-btn {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &-mobile-open-btn {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }
}

.headerLinks {
  @media (max-width: 767px) {
    padding: 15px 0;
    & + & {
      border-top: 1px solid lightgrey;
    }
  }
}