@use "../../styles/mixins" as index;

.embla {
    overflow: hidden;

    &__container {
        display: flex;
    }

    &__slide {
        flex: 0 0 33%;
        padding: 5px;

        @include index.tablet {
            flex: 0 0 50%;
        }

        @include index.mobile {
            flex: 0 0 100%;
        }
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;         
    padding: 15px 15px 0 15px;
    width: 100%;

    @media screen and (max-width: 480px) {
        max-width: 100%;
        padding: 0;
    }

    .slide {
        display: block;
        gap: 15px;
        text-align: left;
        text-decoration: none;
        margin-bottom: 29px;

        @media screen and (max-width: 480px) {
            max-width: 100%;
        }

        &:hover {
            cursor: pointer;
        }

        &:hover .button {
            color: black;
        }

        .image {
            border: 1px solid rgb(222, 226, 228);
            border-radius: 14px 10px 10px 14px;
            margin-bottom: 15px;
            width: 100%;
            height: auto;   
            object-fit: cover;

            @media screen and (max-width: 480px) {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .text_container {
            max-width: 340px;

            .title {
                color: rgb(62, 67, 71);
                font-family: "Roboto-SemiBold";
                font-size: 19px;
                line-height: 22px;
                margin: 0;
                margin-bottom: 10px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .subtitle {
                color: rgb(120, 129, 137);
                font-family: 'Roboto-Light';
                font-size: 14px;
                margin: 0;
                font-weight: 300;
                line-height: 16px;
                letter-spacing: 0%;
                margin-bottom: 15px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .button {
                color: rgb(62, 67, 71);
                font-family: 'Roboto-Light';
                font-size: 16px;
                margin: 0;
                font-weight: 300;
                line-height: 19px;
                letter-spacing: 0%;
                text-align: left;
                max-width: 366px;
            }
        }
    }

    .title {
        margin: 0;
        margin-bottom: 12px;
        color: #677179;
        font-size: 20px;
        font-family: 'Roboto-Bold';
        font-weight: 700;
    }
}