@mixin profile-text($family, $size, $height) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.products-wrapper {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.products-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.products-content_navigation {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: 640px) {
    gap: unset;
    justify-content: space-between;
  }
  @media (max-width: 380px) {
    gap: 15px;
    justify-content: unset;

  }
}

.products-content_navigation-link {
  @include profile-text("Geometria-Bold", 16px, 20px);
  background-color: transparent;
  &.active {
    color: #0abab5;
  }
  @media (max-width: 640px) {
    font-size: 15px;
  }
}

.products-content_filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.products-content_filters-action {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products-content_filters-action-description {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.products-content_filters-action-description-text {
  @include profile-text("Geometria-Bold", 12px, 15px);
  background-color: transparent;
  &.active {
    color: #0abab5;
  }
  @media (max-width: 640px) {
    font-size: 14px;
  }
}

.button-action > svg {
  color: white;
}

.products-content_cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media (max-width: 767px) {
    gap: 20px;
  }
}

.products-content_cards-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 155px;
  }

  &_options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.products-content_cards-item-span-empty {
  color: #ff0090;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.products-content_spiner {
  display: flex;
  justify-content: center;
}

.products-content_filters-action-description-text {
  &.active {
    color: #0abab5;
  }
  &.danger {
    color: #ff0090;
  }
}

.products-content_cards-header-button {
  background: transparent;
  display: flex;
  text-align: center;
  width: 150px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  @include profile-text("Geometria-Bold", 12px, 15px);
}

.products-content_cards-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.provider-modal {
  padding-bottom: 20px;
  // pointer-events: auto;
  &__header {
    border-bottom: 1px solid lightgray;
    p {
      @include profile-text("Geometria-bold", 20px, 1.2);
    }
  }
  &__body {
    text-align: center;
    gap: 0;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
    & + & {
      border-top: 1px solid lightgray;
    }
  }
  &__title {
    @include profile-text("Geometria-Bold", 18px, 1.2);
  }
  &__text {
    @include profile-text("Geometria-light", 16px, 1.2);
  }
}

@media (max-width: 8000px) {
  .products-content {
    width: 1536px;
  }
}

@media (max-width: 1536px) {
  .products-content {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .products-content {
    max-width: 1024px;
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .products-content_cards-header--off {
    display: none;
  }
}

.provider-modal {
  padding-bottom: 20px;
  &__header {
    border-bottom: 1px solid lightgray;
    p {
      @include profile-text("Geometria-bold", 20px, 1.2);
    }
  }
  &__body {
    text-align: center;
    gap: 0;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
    & + & {
      border-top: 1px solid lightgray;
    }
  }
  &__title {
    @include profile-text("Geometria-Bold", 18px, 1.2);
  }
  &__text {
    @include profile-text("Geometria-light", 16px, 1.2);
  }
}

@media (max-width: 8000px) {
  .products-content {
    width: 1536px;
  }
}

@media (max-width: 1536px) {
  .products-content {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .products-content {
    max-width: 1024px;
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .products-content_cards-header--off {
    display: none;
  }
  .products-content {
    max-width: 767px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .products-content {
    max-width: 640px;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .products-content {
    max-width: 400px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .products-content {
    max-width: 350px;
    width: 100%;
  }
}