@media (max-width: 8000px) {
  .provider-page_header-content {
    width: 1536px;
  }
}

@media (max-width: 1536px) {
  .provider-page_header-content {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .provider-page_header-content {
    width: 1024px;
  }
}

@media (max-width: 767px) {
  .headerLinks{
    display: none;
  }
}


.provider-page_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-links {
    display: flex;
    gap: 35px;
  }
}
