.MobileMenu {
    position: fixed;
    top: 0;
    z-index: 1000;
    left: -100%;
    height: 100vh;
    overflow-y: scroll;
    background: #F5F5F5;
    transition: 0.5s;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 24px 16px;
}

.MobileMenu.Active {
    left: 0;
}

.MobileMenu .Top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MobileMenu .Top .Logo {
    color: #00B302;
}

.MobileMenu .Top .Close {
    width: 15px;
    height: 15px;
    color: #00B302;
}

.MobileMenu .Search {
    width: 100%;
    min-height: 48px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.65);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.MobileMenu .Search input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding: 0 15px;
    font-size: 14px;
}

.MobileMenu .Search input::placeholder {
    color: #BEBEBE;
}

.MobileMenu .Search svg {
    color: #BEBEBE;
}

.MobileMenu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.MobileMenu ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid #D9D9D9;
}

.MobileMenu ul li svg {
    width: 15px;
    height: 15px;
    color: #4E4E4E;
    transition: 0.5s;
}

.MobileMenu ul li.Additional {
    padding-left: 15px;
    display: none;
}

.MobileMenu .ActiveList li.Additional {
    display: flex;
}

.MobileMenu .ActiveList li svg {
    transform: rotate(180deg);
}

.MobileMenu .Phone {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 400;
}

.MobileMenu .Location {
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 400;
}

.MobileMenu button {
    min-height: 43px;
}