.first-stage_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-stage_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-stage_header {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
}

.first-stage_title {
  font-family: geometria-medium;
}

.provider-form {
  gap: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &-input {
    border-radius: 5px;
    border: 1px solid #282828;
    box-shadow: none;
    height: 50px;
    padding: 0 12px;
    background: #f4f4f5;
    outline: none;
    font-size: 14px;
  }

  &-left,
  &-right,
  &-center {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 5px;
  }

  &-fields {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.form-label {
  color: #252b42;
  font-family: geometria-medium;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label-county-text {
  color: #737373;
  font-size: 10px;
}

.submit-form {
  width: 100%;
  max-width: 278px;
  height: 44px;
  border-radius: 5px;
  background: #282828;
  color: white;
}

.comment-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

.comment-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.comment-title {
  font-size: 16px;
  font-family: geometria-medium;
  color: #252b42;
}

.comment-content {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_block {
    display: flex;
    padding: 15px;
    width: 450px;
    border: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    border-radius: 5px;

    & > p {
      color: #737373;
      font-size: 16px;
    }
  }
}

.products-content_spiner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-input-container {
  display: flex;
  align-items: center;
}

.prefix-select {
  margin-right: 0px;
}

.provider-form-input.phone {
  flex: 1;
  border-radius: 0px 5px 5px 0px;
}

@media (max-width: 8000px) {
  .first-stage_wrapper {
    padding: 50px 0;
  }

  .first-stage_content {
    width: 1536px;
    gap: 50px;
  }

  .form-label {
    width: 451px;
  }

  .first-stage_title {
    font-size: 42px;
    text-align: center;
  }
}

@media (max-width: 1536px) {
  .first-stage_content {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .first-stage_content {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .first-stage_wrapper {
    padding: 20px 0;
  }

  .first-stage_content {
    max-width: 768px;
    padding: 0 15px;
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .provider-form-fields {
    flex-direction: column;
    gap: 15px;
  }

  .form-label {
    width: 100%;
  }

  .submit-form {
    width: 100%;
  }

  .first-stage_title {
    font-size: 26px;
    text-align: left;
  }
}

@media (max-width: 640px) {
  .first-stage_header {
    flex-direction: column-reverse;
  }
}
