@media (max-width: 8000px) {
  .blocked-wrapper {
    padding: 50px 0;
  }

  .blocked-content {
    width: 1536px;
  }

  .blocked-content_main-spinner {
    gap: 50px;
  }
}

@media (max-width: 1536px) {
  .blocked-content {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .blocked-content {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .blocked-content {
    width: 768px;
  }

  .blocked-content_main {
    flex-direction: column;
  }

  .blocked-title {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .blocked-wrapper {
    padding: 30px 0;
  }

  .blocked-content {
    width: auto;
    padding: 0 30px;
  }

  .blocked-content_main-spinner {
    flex-direction: column;
  }

  .blocked-content_main {
    gap: 30px;
  }

  .blocked-content_main-spinner {
    gap: 0;
  }
}

.blocked-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocked-content {
  display: flex;
  flex-direction: column;
}

.blocked-title {
  font-family: geometria-medium;
  font-size: 42px;
}

.blocked-content_main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-spinner {
    display: flex;
    align-items: center;
  }

  &-text {
    text-decoration: underline;
    font-size: 16px;
    width: 100%;
    max-width: 378px;
  }
}

.blocked-button {
  color: white;
  font-family: geometria-medium;
  border-radius: 5px;
  background-color: #0abab5;
  width: 278px;
  height: 44px;
}
