.family-bold {
  font-family: geometria-bold;
}

.family-medium {
  font-family: Geometria-Medium;
}

@media (max-width: 8000px) {
  .product-page_info {
    width: 100%;
    padding: 30px;
  }

  .product-page_block-pay {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 20px;
  }
  .text-price-product{
    // overflow: hidden;
    // text-wrap: nowrap;
  }
}

@media (max-width: 1024px) {
  .product-info {
    flex-direction: column;
  }

  .product-page_info {
    gap: 15px;
    padding: 15px;
  }

  .product-page_block-pay {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .mySwiper2,
  .mySwiper {
    width: 100% !important;
  }

  .slider-wrapper {
    width: 100%;
  }

  .swiper-slides-photos {
    width: 100%;
  }

  .product-page_wrapper {
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    }

  .product-page_info {
    padding: 30px;
  }
}

@media (max-width: 500px) {
  // .mySwiper2 {
  //   max-height: 320px;
  //   max-width: 320px;
  // }

  // .mySwiper {
  //   max-height: 90px;
  //   max-width: 320px;
  // }
}

.slider-wrapper {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.mySwiper2 {
  height: 400px;
  width: 400px;
}

.mySwiper {
  height: 90px;
  width: 400px;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper .swiper-slide {
  width: 100px;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-page_wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.product-page_block-pay {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @media (max-width: 767px) {
    max-width: 300px;
    margin: 0 auto;
  }
}

.product-page_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.product-info {
  width: 100%;
  gap: 25px;
  display: flex;
  justify-content: space-between;
}

.product-page_description {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.input-counter {
  border-radius: none;
  width: 40px;
  height: 30px;
  text-align: center;
  outline: none;
  background: transparent;
  border-top: 1px solid #0abab5;
  border-bottom: 1px solid #0abab5;
}

.input-counter::-webkit-outer-spin-button,
.input-counter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-counter {
  -moz-appearance: textfield;
  appearance: textfield;
}

.button-option_size {
  border: 1px solid #e4e4e4;
  transition: border 0.2s ease;
  padding: 5px 10px;
  width: fit-content;
  cursor: default;
  &:hover {
    border-color: #e4e4e4 !important;
  }
}

.button-option_color {
  border: 3px solid white;
  transition: border 0.2s ease;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  &:hover {
    border-color: #0abab5;
  }
}

.block-option_product {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid rgba(150, 163, 174, 0.514);
}
