@import '../../vendor/index.scss';


html {
    scrollbar-color: #e0e0e0;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}


* {
    // outline: 1px solid green !important;
    box-sizing: border-box;
}