.container{
    padding-top: 94px;

    @media screen and (max-width: 480px) {
        padding-inline: 12px;
    }
    .section{
        max-width: 1140px;
        flex: 1;
        margin: auto;
        padding: 16px 15px 0 15px;

        @media screen and (max-width: 480px) {
            padding-inline: 0;
        }
    }
}

