@media (max-width: 8000px) {
  .search-modal-wrapper {
    display: none;
  }

  .search-button-mobile {
    padding: 0 !important;
    border-radius: 0 !important;
  }
}

@media (max-width: 1025px) {
  .search-modal-wrapper {
    display: block;
  }
}

.search-modal-wrapper {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease;
  opacity: 0;
  pointer-events: none;
  visibility: none;

  &.active {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }
}

.search-modal-content {
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: #0abab5;
  border: 1px solid #dedede;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100px);
  transition: transform 0.2s ease;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.0705882353);

  &.active {
    transform: translateY(0);
  }
}

.search-mobile {
  display: flex;
  width: 100%;
  max-width: 542px;
}
