@media (max-width: 8000px) {
  .single-page-wrapper {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, minmax(0, 494px));
    width: 100%;
    gap: 27px;
  }
}

@media (max-width: 1024px) {
  .single-page-wrapper {
    grid-template-columns: repeat(2, minmax(0, 370px));
  }
}

@media (max-width: 767px) {
  .single-page-wrapper {
    grid-template-columns: repeat(1, minmax(0, 100%));
  }
}

.family-bold {
  font-family: geometria-bold;
}
.family-medium {
  font-family: Geometria-Medium;
}