@mixin profile-text($family, $size, $height, $weight) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 8000px) {
  .product-card__title {
    width: auto;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .deleteItem {
    top: 5px;
    right: 5px;
  }

  .product-card {
    padding: 20px;
  }

  .product-card__info-container {
    height: 111px;
    width: auto;
    gap: 15px;
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .product-card__image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .product-card__image-container img {
    width: 111px;
    height: 111px;
  }
}

@media (max-width: 768px) {
  .product-card__title {
    font-size: 1.2rem;
  }

  .product-card {
    padding: 10px;
  }

  .product-card__options-container {
    flex-direction: row;
    gap: 15px;
  }

  .product-card__info-container {
    height: auto;
    width: 100%;
  }

  .product-card__image-container img {
    width: fit-content;
    height: 100%;
  }

  .product-card-img-link {
    width: 130px;
    height: 103px;
  }
}

@media (max-width: 640px) {
  .product-card__title {
    font-size: 1.2rem;
  }
  .product-card__image-container {
    flex-direction: column;
  }

  .product-card__description-container-wrapper {
    justify-content: flex-start;
  }

  .product-card__title {
    text-align: left;
  }

  .product-card__total-container {
    justify-content: flex-start;
  }

  .product-card__image-container img {
    width: 100%;
    height: 100%;
  }

  .product-card-img-link {
    width: 100%;
    height: 100%;
  }

  .deleteItem {
    background: white;
    border-radius: 50%;
    top: 15px;
    right: 15px;
  }
  .product-card__options-container {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .product-card__title {
    font-size: 1rem;
  }
}

.product-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.deleteItem {
  cursor: pointer;
  position: absolute;
}

.product-card__description-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card__options-container {
  display: flex;
  justify-content: space-between;
}

.product-card__description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-card__description {
  user-select: none;
  font-size: 12px;
  color: #333;
}

.product-card__option {
  display: flex;
  align-items: center;
  border: 1px solid #e4e4e4;
  padding: 0 10px;
  border-radius: 5px;
}

.product-card__option[data-color] {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 2px 4px 0px #0000001a;
}

.product-card__option--active {
  color: #737373;
  font-family: geometria-medium;
}

.product-card__total-container {
  display: flex;
  gap: 24px;
}

.product-card__total-wrapper {
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.product-card__total-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
