@media (max-width: 8000px) {
  .basket_confirm {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 550px) {
  .basket_confirm {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: left;
    gap: 30px;
  }
  .basket_button {
    width: 100%;
  }
}

.family-bold {
  font-family: geometria-bold;
}
.family-medium {
  font-family: Geometria-Medium;
}


.basket_button{
  background-color: #282828;

}