@mixin flex-column($gap, $direction) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin form-text($color, $size, $align) {
  color: $color;
  font-size: $size;
  text-align: $align;
}

@media (max-width:8000px) {
  .form-content_header-title {
    font-family: geometria-medium;
    line-height: 38px;
    @include form-text(#282828, 30px, center);
  }
  
}

@media (max-width:420px) {
  .form-content_header-title {
    @include form-text(#282828, 26px, center);
  }
  
}


.form-content-forget-login-input.phone {
  border-radius:8px;
}

.form-content-login-label-input {
  font-size: 15px;
  width: 100%;
  border: 1px solid #dadada;
  padding: 5px 15px;
  outline: none;
  height: 40px;
  border-radius: 10px;
}

.form-content-login-label-input-phone {
  font-size: 15px;
  width: 100%;
  border: 1px solid #dadada;
  padding: 5px 15px;
  outline: none;
  height: 40px;
  border-radius: 0 10px 10px 0;
}




.products-content_spiner{
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-wrapper {
  padding: 80px 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-content_header {
  @include flex-column(12px, column);
}


.form-content_header-text {
  line-height: 24px;
  @include form-text(#667085, 16px, center);
}

.form-content_bottom {
  @include flex-column(24px, column);
}

.form-content_bottom-label {
  @include flex-column(6px, column);
}

.form-content_bottom-label-input {
  outline: none;
  font-size: 16px;
  color: #667085;
  height: 100%;
  max-height: 44px;
  border: 1px solid #d0d5dd;
  padding: 10px 14px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  background: white;
}

.form-content_bottom-label-span {
  line-height: 20px;
  @include form-text(#344054, 14px, left);
}

.form-content_checkbox {
  @include flex-column(0, row);
  justify-content: space-between;
  align-items: center;
}

.form-content_checkbox > label {
  height: 100%;
}

.form-content_checkbox-content {
  padding: 0;
  margin: 0;
  height: 20px;
}

.form-content_checkbox-content > span:last-of-type {
  @include form-text(#344054, 14px, left);
  line-height: 20px;
}

.form-content_checkbox-button {
  font-family: geometria-medium;
  @include form-text(#282828, 14px, center);
}
