@use '../../styles/index.scss' as index;

.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    margin: 0;
    margin-left: 5px;
    padding: 7px;
    list-style: none;
    position: relative;

    @include index.mobile {
        padding-right: 2px;
    }

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        .chevron {
            display: block;

            @include index.small-tablet {
                display: none;
            }
        }




        &:hover {
            cursor: pointer;
        }

    }

    .title {
        color: rgb(120, 129, 137);
        font-family: 'Roboto-Light';
        font-size: 1rem;
        line-height: 1.19rem;
        letter-spacing: 0%;
        text-align: left;
        margin: 0;
        text-decoration: none;

        @include index.small-tablet {
            display: none;
        }
    }
}

.list {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid #DEE2E4;
    padding: 6px 12px;

    @media screen and (max-width: 480px) {
        padding: 0;
    }

    .header {
        color: #788189;
        font-family: 'Roboto-Light';
        font-size: 13px;
        margin: 0;
        padding: 0;
        padding-top: 6px;
        padding-bottom: 5px;
        border-bottom: 1px solid #DEE2E4;
        width: 100%;

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    .item_menu {
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        transition: all 0.3s;
        padding: 6px 12px;

        @media screen and (max-width: 480px) {
            padding: 6px;
        }

        &:hover {
            background-color: #DDD;
        }
    }

    .title_menu {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #788189;
        font-family: 'Roboto-Light';
        font-size: 16px;
        text-decoration: none;
        margin: 0;
        text-decoration: none;
    }

    &._active {
        display: block;
    }
}