@media (max-width: 8000px) {
  .politics-content {
    max-width: 1536px;
  }
}

@media (max-width: 1540px) {
  .politics-content {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .politics-content {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .politics-content {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .politics-content {
    max-width: 640px;
    padding: 0 15px;
  }
}

@font-face {
  font-family: "Geometria-Bold";
  src: local("Geometria-Bold"),
    url("../../../fonts//Geometria-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria-Medium";
  src: local("Geometria-Medium"),
    url("../../../fonts/Geometria-Medium.ttf") format("truetype");
}

@mixin politics-text($size, $height, $align, $weight, $color, $family) {
  font-size: $size;
  line-height: $height;
  text-align: $align;
  font-weight: $weight;
  color: $color;
  font-family: $family;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.politics-wrapper {
  gap: 50px;
  flex-direction: column;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 767px) {
    padding: 40px 0;
  }
}

.politics-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.politics-content_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.politics-content_header-span {
  @include politics-text(13px, 20px, center, 600, #282828, "Geometria-Bold");
}

.politics-content_header-title {
  @include politics-text(40px, 50px, center, 600, #282828, "Geometria-Bold");
}

.politics-content_text {
  @include politics-text(16px, 20px, left, 300, black, "Geometria-Light");
}
