@font-face {
  font-family: "geometria-light";
  src: local("geometria-light"),
    url("../fonts/Geometria-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria-Bold";
  src: local("Geometria-Bold"),
    url("../fonts/Geometria-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria-Medium";
  src: local("Geometria-Medium"),
    url("../fonts/Geometria-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria-Thin";
  src: local("Geometria-Thin"),
    url("../fonts/Geometria-Thin.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

// *{
//   outline: 1px solid red;
// }

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #0abab5 !important;
}

[type="checkbox"]:checked {
  background-image: url(../public/assets/other/check.svg);
}

[type="checkbox"]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: geometria-light;
}

img {
  user-select: none;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
