@media (max-width: 8000px) {
  .admin-provider-content_orders-content-filters {
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .admin-provider-content_orders-content-order > * {
    flex: 1 1 auto;
  }
}

@media (max-width: 640px) {
  .admin-provider-content_orders-content-filters {
    justify-content: space-between;
    gap: 0;
  }

  .admin-provider-content_orders-header {
    flex-direction: column;
    gap: 15px;
  }
}

@mixin provider-text($size, $height) {
  font-size: $size;
  line-height: $height;
}

.admin-provider-page_wrapper {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-provider-page_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 1536px;

  & > h5 {
    font-size: 42px;
    font-family: geometria-medium;
    font-weight: 700;
  }
}

.admin-provider-page_application {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px;

  &-left,
  &-right {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_label {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: #252b42;
      font-size: 16px;
      font-family: geometria-medium;
      font-weight: 700;
    }
  }
}

.label-input,
.comment-input {
  border-radius: 5px;
  height: 50px;
  width: 450px;
  color: #f9f9f9;
  border: 1px solid #dddddd;
}

.admin-provider-page_application-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.comment-text {
  color: #252b42;
  font-family: geometria-medium;
  font-weight: 700;
  font-size: 16px;
}

.comment-date_text {
  color: #929292;
  font-family: geometria-medium;
  font-weight: 700;
  font-size: 10px;
}

.comment-date_date {
  color: #929292;
  font-family: geometria-medium;
  font-weight: 400;
  font-size: 10px;
}

.comment-button {
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-family: geometria-medium;
  height: 45px;
}

.comment-button:first-of-type {
  background-color: #0abab5;
}

.comment-button:last-of-type {
  background-color: #e30387;
}

.admin-provider-content_orders {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0;
}

.admin-provider-content_orders-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.admin-provider-content_orders-header-text {
  @include provider-text(26px, 24px);
  font-family: geometria-medium;
}

.search-wrapper {
  position: relative;
  display: inline-block;
}

.admin-provider-content_orders-header-input {
  @include provider-text(14px, 28px);
  width: 317px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #dadada;
  outline: none;
  padding-left: 60px;
}

.search-wrapper > svg {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.admin-provider-content_orders-header-input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.admin-provider-content_orders-header-input[type="search"]::-moz-search-cancel-button {
  -moz-appearance: none;
}

.admin-provider-content_orders-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.admin-provider-content_orders-content-filters {
  display: flex;
  align-items: center;
}

.admin-provider-content_orders-content-filters-button {
  display: flex;
  align-items: center;
  gap: 14px;
  @include provider-text(12px, 15px);
  font-family: geometria-medium;
}

.admin-provider-content_orders-content-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.admin-provider-content_products {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-title {
    font-size: 26px;
    font-family: geometria-medium;
    font-weight: 700;
  }
}
