@use "@/global/scss/vars";

.title1 {
	font-size: 140px;
	line-height: 110%;
	text-transform: uppercase;

	@media (max-width: vars.$tablet-l) {
		font-size: 90px;
	}

	@media (max-width: vars.$tablet) {
		font-size: 80px;
	}


	@media (max-width: vars.$medium) {
		font-size: 44px;
	}
}