.Filter {
    max-width: 280px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 16px 0 28px 0;
}

.Filter h4 {
    color: #4E4E4E;
    font-size: 14px;
    line-height: 140%;
}

.Filter .Row {
    border-bottom: 0.7px solid #BEBEBE;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 14px 24px;
}

.Buttons {
    display: flex;
    align-items: center;
    padding: 28px 28px 0 28px;
    gap: 16px;
}

.Buttons button {
    width: 100%;
    padding: 0;
}

.ClearButton {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 32px;
    background: transparent;
    border: none;
    color: #BEBEBE;
    font-size: 14px;
    cursor: pointer;
}

.FilterButton {
    display: none;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    color: #4E4E4E;
    font-weight: 600;
}

.Filter.Active {
    display: block;
}

@media screen and (max-width: 750px) {
    .Filter {
        max-width: 100%;
        display: none;
    }

    .FilterButton {
        display: flex;
    }
}