.provider-text-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 50px  ;
}

.read {
  background: transparent;
  border-radius: 5px;
  border: 1px solid #282828;
  font-family: geometria-medium;
  height: 44px;
  font-size: 14px;
}

.products-content_spiner{
  display: flex;
  justify-content: center;
  align-items: center;
}

