@mixin profile-text($size, $height) {
  font-size: $size;
  line-height: $height;
}

.family-bold {
  font-family: geometria-bold;
}
.family-medium {
  font-family: Geometria-Medium;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 8000px) {
  .profile-content {
    width: 1536px;
  }

  .profile-content_header-user-data {
    width: 320px;
  }

  .profile-content_header {
    justify-content: space-between;
  }

  .profile-content_orders-content-filters {
    // max-width: 1110px;
  }
}

@media (max-width: 1536px) {
  .profile-content {
    width: 1280px;
  }

  .profile-content_orders-content-filters {
    // max-width: 920px;
  }
}

@media (max-width: 1280px) {
  .profile-content {
    width: 1024px;
  }

  .profile-content_orders-content-filters {
    // max-width: 740px;
  }
}

@media (max-width: 1024px) {
  .profile-content {
    width: 768px;
  }

  .profile-content_orders-content-filters {
    // max-width: 540px;
  }
}

@media (max-width: 768px) {
  .profile-content {
    width: 640px;
  }

  .profile-content_orders-content-filters {
    // max-width: 400px;
  }

  .profile-content_orders-content-order > * {
    flex: 1 1 auto;
  }

  .profile-content_header-user {
    flex-direction: column;
    align-items: center;
  }

  .profile-content_header-user-data {
    width: 100%;
    gap: 5px;
  }

  .profile-content_header {
    justify-content: center;
    position: relative;
  }

  .profile-content_header > svg {
    position: absolute;
    top: 0;
    right: 30px;
  }
}

@media (max-width: 640px) {
  .profile-content {
    padding: 0 15px;
  }

  .profile-content_orders-header {
    flex-direction: column;
    gap: 15px;
  }
}

.profile-wrapper {
  padding: 80px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1023px) {
    padding: 40px 0;
  }
}

.profile-content {
  gap: 100px;
  display: flex;
  flex-direction: column;
  @media (max-width: 1023px) {
    gap: 70px;
  }
}

.profile-content_header {
  display: flex;
  align-items: flex-start;
}

.profile-content_header-user {
  display: flex;
  gap: 50px;
  @media (max-width: 767px) {
    gap: 30px;
  }
}

.input-user-change {
  height: 52px;
  border: 1px solid #dadada;
  font-family: geometria-medium;
  font-size: 42px;
  outline: none;
}

.input-user-change-data {
  border: 1px solid #dadada;
  font-family: geometria-light;
  width: 155px;
  height: 20px;
  font-size: 16px;
}

.profile-content_header-user-data,
.profile-content_header-user-data-blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-content_header-user-data-blocks {
  gap: 9px;
}

.profile-content_header-user-data-title {
  font-family: geometria-medium;
  text-transform: capitalize;
  @include profile-text(42px, 52px);
  @media (max-width: 1023px) {
    @include profile-text(36px, 1.5);
  }
  @media (max-width: 767px) {
    text-align: center;
    @include profile-text(28px, 1.5);
  }
}

.profile-content_header-user-data-block {
  width: fit-content;
  display: flex;
  gap: 13px;
}

.profile-content_header-user-data-block-bold {
  font-family: geometria-medium;
  @include profile-text(16px, 20px);
}

.profile-content_header-user-data-block-light {
  @include profile-text(16px, 20px);
}

.profile-content_orders {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile-content_orders-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile-content_orders-header-text {
  @include profile-text(26px, 24px);
  font-family: geometria-medium;
}

.search-wrapper {
  position: relative;
  display: inline-block;
  @media (max-width: 767px) {
    width: 100%;
    margin-top: 15px;
  }
}

.profile-content_orders-header-input {
  @include profile-text(14px, 28px);
  width: 317px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #dadada;
  outline: none;
  padding-left: 60px;
  @media (max-width: 767px) {
    width: 100%;
  }
}

.search-wrapper > svg {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.profile-content_orders-header-input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.profile-content_orders-header-input[type="search"]::-moz-search-cancel-button {
  -moz-appearance: none;
}

.profile-content_orders-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.profile-content_orders-content-filters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  align-items: center;

  @media (max-width:1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width:768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.profile-content_orders-content-filters-button {
  display: flex;
  align-items: center;
  gap: 5px;
  @include profile-text(12px, 15px);
  font-family: geometria-medium;
}

.profile-content_orders-content-filters-button[data-name],
.profile-content_orders-content-filters-button[data-date],
.profile-content_orders-content-filters-button[data-price],
.profile-content_orders-content-filters-button[data-status] {
  width: 100px;
  @media (max-width: 767px) {
    width: fit-content;
    padding: 5px 8px;
    background-color: #eeeeee;
    border-radius: 8px;
  }
}

.profile-content_orders-content-filters-button[data-status]{
  grid-column: span 2;
}

.profile-content_orders-content-filters-button[data-date]{
  @media (max-width:1024px) {
    display: none;
  }
}

.profile-content_orders-content-filters-button[data-price]{
  @media (max-width:768px) {
    display: none;
  }
}

.profile-content_orders-content-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
