@media (max-width: 8000px) {
  .provider-content_orders-content-filters {
    gap: 50px;
  }

  .provider-content_orders {
    padding: 50px 0;
  }
}

@media (max-width: 1024px) {
  .provider-content_orders {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .provider-content_orders-content-order > * {
    flex: 1 1 auto;
  }
}

@media (max-width: 640px) {
  .provider-content_orders-content-filters {
    justify-content: space-between;
    gap: 0;
  }

  .provider-content_orders-header {
    flex-direction: column;
    gap: 15px;
  }
}

@mixin provider-text($size, $height) {
  font-size: $size;
  line-height: $height;
}

.provider-content_orders {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.provider-content_orders-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.provider-content_orders-header-text {
  @include provider-text(26px, 24px);
  font-family: geometria-medium;
}

.search-wrapper {
  position: relative;
  display: inline-block;
}

.provider-content_orders-header-input {
  @include provider-text(14px, 28px);
  width: 317px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #dadada;
  outline: none;
  padding-left: 60px;
}

.search-wrapper > svg {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.provider-content_orders-header-input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.provider-content_orders-header-input[type="search"]::-moz-search-cancel-button {
  -moz-appearance: none;
}

.provider-content_orders-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.provider-content_orders-content-filters {
  display: flex;
  align-items: center;
}

.provider-content_orders-content-filters-button {
  display: flex;
  align-items: center;
  gap: 14px;
  @include provider-text(12px, 15px);
  font-family: geometria-medium;
}

.provider-content_orders-content-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}
